/*
Theme Name: Appscale
Theme URI:  
Author: Mohammad Reza
Author URI: https://www.linkedin.com/in/rezadev/
Description: This a custom theme for Appscale.
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: saas, responsive website, portfolio
Text Domain: appscale
*/

/* CSS Variables */
:root {
  --black-1: #000000;
  --black-2: #333333;
  --grey-1: #f2f2f2;
  --blue-1: #57b6f9;
  --blue-2: #007dad;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: #333;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 2rem;
}

.clear,
.clear::after {
  content: "";
  clear: both;
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

ol,
ul {
  list-style: none;
}

a {
  color: #333;
  text-decoration: none;
}

/* Header */
.header-wrapper {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.main-menu {
  text-align: center;
  margin-top: 20px;
  display: none;
}

.main-menu .site-nav ul li {
  margin-bottom: 10px;
}

.main-menu .site-nav ul li a {
  color: var(--black2);
  font-size: 1.6rem;
}

.site-nav .current-menu-item {
  border-bottom: 2px solid #333;
}

.hamburger-menu {
  display: block;
}

.hamburger-menu a {
  position: absolute;
  top: 15px;
  right: 20px;
}

@media only screen and (min-width: 768px) {
  .header-wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .main-menu {
    display: block;
  }

  .main-menu .site-nav ul li {
    display: inline-block;
    margin-left: 2rem;
  }

  .site-nav .menu-item {
    border-bottom: 2px solid #fff;
    transition: border-bottom 0.3s;
  }

  .site-nav .menu-item:hover {
    border-bottom: 2px solid #333;
  }

  .site-nav .current-menu-item {
    border-bottom: 2px solid #333;
  }

  .hamburger-menu {
    display: none;
  }
}
/* Header */

/* Hero */
.hero {
  height: 90vh;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-wrapper h1,
.hero-wrapper h2 {
  color: #fff;
  text-align: center;
  font-weight: 400;
}

.hero-wrapper h1 {
  margin-bottom: 4rem;
  font-size: 3rem;
  line-height: 1.5;
}

.hero-wrapper h2 {
  margin-bottom: 4rem;
  font-size: 2rem;
}

.hero-buttons {
  text-align: center;
  margin-top: 10px;
}

.hero-buttons a.button {
  font-size: 1.4rem;
  padding: 0.7rem 2.7rem;
  font-weight: 400;
  border: 2px solid #fff;
  border-radius: 5px;
}

.hero-buttons .btn-hero1 {
  background-color: #fff;
  color: #00b6f9;
  margin-right: 1rem;
}

.hero-buttons .btn-hero2 {
  color: #fff;
}

@media only screen and (min-width: 768px) {
  .hero-wrapper h1 {
    margin-bottom: 6rem;
    font-size: 3.2rem;
    line-height: 1.5;
  }

  .hero-wrapper h2 {
    margin-bottom: 7rem;
    font-size: 2.4rem;
  }

  .hero-buttons {
    text-align: center;
  }

  .hero-buttons a.button {
    font-size: 1.8rem;
    padding: 1rem 3rem;
  }

  .hero-buttons .btn-hero1 {
    margin-right: 2rem;
  }
}
/* Hero */

/* Cloud Platform */
.cloud-platform {
  background-color: var(--blue-1);
  padding: 2rem 0;
}

.cloud-platform h3 {
  display: none;
}

.cloud-platform .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.cloud-platform .widget:nth-child(1),
.cloud-platform .widget:nth-child(2),
.cloud-platform .widget:nth-child(3) {
  margin-bottom: 2rem;
}

.cloud-platform img {
  height: 60px;
  width: auto;
}

@media only screen and (min-width: 768px) {
  .cloud-platform .widget:nth-child(1),
  .cloud-platform .widget:nth-child(2),
  .cloud-platform .widget:nth-child(3) {
    margin-bottom: 0;
  }
}
/* Cloud Platform */

/* Serverless Developments */
.serverless-devs {
  padding: 3rem 0;
}

.serverless-devs .serverless-wrapper {
  display: grid;
  justify-items: center;
  align-items: center;
  text-align: center;
}

.serverless-devs h3 {
  font-size: 2.2rem;
  margin-top: 2rem;
  color: var(--blue-2);
}

.serverless-devs p {
  font-size: 1.6rem;
  margin-top: 1rem;
}

@media only screen and (min-width: 768px) {
  .serverless-devs .container {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
  }

  .serverless-devs .serverless-wrapper {
    display: grid;
    grid-auto-flow: column;
    padding: 2rem;
  }

  .serverless-devs h3 {
    font-size: 2.4rem;
    margin-top: 0;
    text-align: left;
  }

  .serverless-devs p {
    font-size: 1.8rem;
    margin-top: 1rem;
    margin-bottom: 3rem;
    text-align: left;
  }

  .serverless-devs .serverless-wrapper .serverless-img {
    margin-right: 2rem;
  }
}
/* Serverless Developments */

/* Cloud Deployment */
.cloud-deployment {
  margin: 4rem 0 0 0;
  padding: 5rem 0;
  text-align: center;
  background-color: var(--grey-1);
}

.cloud-deployment h2 {
  font-size: 2.5rem;
  margin-bottom: 7rem;
  font-weight: 400;
}

.cloud-deployment h3 {
  text-align: center;
  font-size: 2.2rem;
  font-weight: 400;
  margin-bottom: 2rem;
}

.cloud-deployment p {
  font-size: 1.6rem;
  margin-bottom: 4rem;
}

.cloud-deployment a {
  font-size: 1.6rem;
  padding: 0.7rem 1.5rem;
  background-color: var(--blue-1);
  color: #fff;
  border-radius: 5px;
}

.cloud-deployment .cloud-wrapper {
  display: grid;
  justify-items: center;
}

.cloud-1,
.cloud-2,
.cloud-3,
.cloud-4 {
  background-color: #fff;
  border-top: 3px solid var(--blue-1);
  padding: 3rem;
}

.cloud-1,
.cloud-2,
.cloud-3 {
  margin-bottom: 3rem;
}

@media only screen and (min-width: 768px) {
  .cloud-deployment {
    margin-top: 0;
  }

  .cloud-deployment h2 {
    font-size: 3rem;
  }

  .cloud-deployment .cloud-wrapper {
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3rem;
  }

  .cloud-1,
  .cloud-2,
  .cloud-3 {
    margin-bottom: 0;
  }

  .cloud-deployment h3 {
    font-size: 2.4rem;
  }
  
  .cloud-deployment p {
    font-size: 1.8rem;

  }
  
  .cloud-deployment a {
    font-size: 1.8rem;
    padding: 1rem 1.8rem;
  }
}

@media only screen and (min-width: 992px) {
  .cloud-deployment .cloud-wrapper {
    grid-template-rows: 1fr;
    grid-template-columns: repeat(4, 1fr);
    /* grid-gap: 3rem; */
  }

  .cloud-deployment h3 {
    font-size: 2rem;
  }
  
  .cloud-deployment p {
    font-size: 1.4rem;

  }
  
  .cloud-deployment a {
    font-size: 1.4rem;
    padding: .5rem 1.3rem;
  }
}

/* Cloud Deployment */


/* Clients */
.clients {
  padding: 5rem 0;
}

.clients h2 {
  font-size: 2.5rem;
  font-weight: 400;
  text-align: center;
  margin-bottom: 5rem;
}

@media only screen and (min-width: 768px) {
  .clients h2 {
    font-size: 3rem;
    margin-bottom: 5rem;

  }

  .clients img {
    width: 80%;
    display: block;
    margin: 0 auto;
  }  
}

@media only screen and (min-width: 992px) {
  .clients img {
    width: 70%;
  }  
}
/* Clients */


/* Testimonials */
.testimonials {
  padding: 5rem 0;
  background-color: var(--blue-1);
}

.testimonial {
  padding: 0 1rem;
  color: #fff;
  margin-bottom: 3rem;
}

.testimonial .testimonial-text p {
  font-size: 1.8rem;
  margin-bottom: 2.2rem;
  text-align: left;
}

.testimonial .testimonial-person {
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: 1fr;
  grid-template-columns: 100px 1fr;
  align-items: center;
}

.testimonials .testimonial-name {
  margin-left: 2rem;
}


.testimonials .testimonial-name p {
  font-size: 1.4rem;
}

.testimonials .testimonial-video {
  position: relative;  
}

.testimonials .testimonial-video img {
  width: 100%;
  height: auto;
}

.testimonials .testimonial-video .play-button {
  position: absolute;
  top: 2.9rem;
  width: 5rem;
  height: 5rem;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}


@media only screen and (min-width: 768px) {
  .testimonials .testimonials-wrapper {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-flow: column;
    align-items: center;
  }

  .testimonial {
    margin-bottom: 0;
  }

  .testimonial .testimonial-text p {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
}
/* Testimonials */


/* Get Started */
.get-started {
  padding: 5rem 0; 
}

.get-started h2 {
  text-align: center;
}

.get-started .get-started-wrapper {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: 1fr;
  justify-items: center;
}

.get-started h2 {
  font-size: 2.5rem;
}

.get-started .get-started-wrapper h4 {
  font-size: 1.8rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.get-started .get-started-wrapper p {
  font-size: 1.4rem;
  width: 80%;
  margin: 0 auto;
  line-height: 1.75;
}

.get-started-1,
.get-started-2,
.get-started-3 {
  text-align: center;
  padding: 2rem;
}

@media only screen and (min-width: 768px) {
  .get-started .get-started-wrapper {
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);
  }

  .get-started h2 {
    font-size: 3rem;
  }

  .get-started .get-started-wrapper h4 {
    font-size: 2rem;
  }
  
  .get-started .get-started-wrapper p {
    font-size: 1.6rem;
    width: 100%;
  }

}
/* Get Started */


/* Footer */
footer {
  background-color: var(--blue-2);
  padding: 5rem 0;
  text-align: center;
}


footer .footer-menu .current-menu-item {
  background-color: var(--blue-1);
}

.footer-menu ul li {
  margin-bottom: 1rem;
}

.footer-menu ul li a {
  display: block;
  font-size: 1.6rem;
  color: #fff;
  padding: 1rem 0;
}

.social-icons {
  margin-top: 3rem;
}

.social-icons a {
  color: #fff;
  font-size: 1.8rem;
  padding: 1rem;
}

.footer-2 {

  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

body > footer > div.footer-2 {
  margin-top: 20px;
}

.footer-2 p {
  color: #fff;
  font-size: 1.6rem;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  footer .footer-1 {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
  }

  footer .footer-menu .current-menu-item {
    background-color: transparent;
    border-bottom: 2px solid #fff;
  }

  footer .footer-menu {
    text-align: left;
  }

  .footer-menu ul li {
    display: inline-block;
    margin-right: 2rem;
  }

  .social-icons {
    margin-top: 0;
    text-align: right;
  }

  .footer-2 p {
    color: #fff;
    font-size: 1.6rem;
    text-align: left;
  }
}

/* Footer */